@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
body {
    color: var(--background);
    background: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* 1. Utilizar un modelo de box-sizing más intuitivo */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Eliminar el margen predeterminado */
* {
    margin: 0;
}

body {
    /* 3. Añadir una altura de línea accesible */
    line-height: 1.5;
    /* 4. Mejorar el renderizado del texto */
    -webkit-font-smoothing: antialiased;
}

/* 5. Mejorar los valores predeterminados de los medios */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Heredar fuentes para los controles de formulario */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Evitar desbordamientos de texto */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Mejorar el ajuste de línea */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* 9. Crear un contexto de apilamiento raíz */
#root,
#__next {
    isolation: isolate;
}

li {
    list-style: none;
}
